In [1]:
#Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import datetime
import numpy as np
from matplotlib import cm

In [10]:
#Read data 
data =pd.read_csv("bitstampUSD_1-min_data_2012-01-01_to_2021-03-31.csv")

In [15]:
#Cleaning data
data = data.dropna()
data['Timestamp'] = pd.to_datetime(data['Timestamp'],unit='s')
data.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,2011-12-31 07:52:00,4.39,4.39,4.39,4.39,0.455581,2.000000,4.390000
478,2011-12-31 15:50:00,4.39,4.39,4.39,4.39,48.000000,210.720000,4.390000
547,2011-12-31 16:59:00,4.50,4.57,4.50,4.57,37.862297,171.380338,4.526411
548,2011-12-31 17:00:00,4.58,4.58,4.58,4.58,9.000000,41.220000,4.580000
1224,2012-01-01 04:16:00,4.58,4.58,4.58,4.58,1.502000,6.879160,4.580000

In [ ]:
#Loading the data



data = data.set_index('Timestamp')
data = data.resample('MS').mean()